.header__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../images/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /*liberando o espaço para movimentar o menu para baixo do hamburger*/
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1em;
}

.list-menu {
  display: none;
  position: absolute; /*tornando o menu absoluto para move-lo*/
  top: 100%;
  width: 60vw;
}

.container__button:checked ~ .list-menu { /* ~ procura a classe e a exibe */
  display: block;
}

.list-menu__title, .list-menu__item {
  padding: 1em;
  background-color: var(--white);
}

.list-menu__title {
  color: var(--orange);
}

.list-menu__link {
  background: var(--blue-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}